/* ResetPassword.css */
.custom-input::placeholder {
    color: rgba(255, 255, 255, 0.6); /* Set the placeholder color */
    opacity: 1; /* Ensure the opacity is not overridden */
  }
  

  /* Add !important to ensure placeholder color is applied */
.custom-input-password input::placeholder,
.custom-input-password .ant-input::placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
}

.community-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Box shadow on hover */
}

.visitor-community-card:hover {
  box-shadow: 0 4px 10px white; /* Box shadow on hover */
}

.visitor-custom-select .ant-select-selector {
  background-color: #091416 !important; /* Change the background color of the input field */
  color: white !important; /* Change the text color */
  border: 1px solid white; /* Optional: ensure border is visible */
  padding: 20px !important;
}

.visitor-custom-select::placeholder {
  color: rgba(255, 255, 255, 0.6) !important; /* Set the placeholder color */
}

.visitor-custom-select .ant-select-selector:hover {
  border-color: white !important; /* Change border color on hover */
}

.visitor-custom-select .ant-select-selection-item {
  color: white !important; /* Change color of the selected item */
}
.ant-select-selection-placeholder {
  color: #56666A !important;
}

.visitor-custom-input::placeholder {
  color: #56666A; /* Set the placeholder color */
  opacity: 1; /* Ensure the opacity is not overridden */
}

.ant-form-item-required::before {
  content: none !important; /* Hides the default asterisk */
}